In [1]:
import pandas as pd
import glob

In [2]:
bike_data = bike_data = pd.concat([pd.read_csv(f) for f in glob.glob('2019_data/*.csv')], ignore_index = True)

In [3]:
bike_data.head(2500000)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254.0,W 11 St & 6 Ave,40.735324,-73.998004,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244.0,University Pl & E 8 St,40.731437,-73.994903,3244.0,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526.0,E 33 St & 5 Ave,40.747659,-73.984907,474.0,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461.0,E 20 St & 2 Ave,40.735877,-73.982050,504.0,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499995,2044,2019-03-19 18:12:49.1580,2019-03-19 18:46:53.6940,3223.0,E 55 St & 3 Ave,40.758997,-73.968654,350.0,Clinton St & Grand St,40.715595,-73.987030,26780,Subscriber,1988,1
2499996,1109,2019-03-19 18:12:47.2510,2019-03-19 18:31:17.1990,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,15249,Subscriber,1984,2
2499997,188,2019-03-19 18:12:55.5230,2019-03-19 18:16:03.6130,402.0,Broadway & E 22 St,40.740343,-73.989551,382.0,University Pl & E 14 St,40.734927,-73.992005,34276,Subscriber,1973,1
2499998,290,2019-03-19 18:12:47.2000,2019-03-19 18:17:37.3710,359.0,E 47 St & Park Ave,40.755103,-73.974987,173.0,Broadway & W 49 St,40.760683,-73.984527,33444,Subscriber,1990,1
2499999,504,2019-03-19 18:12:53.0600,2019-03-19 18:21:17.1020,479.0,9 Ave & W 45 St,40.760193,-73.991255,334.0,W 20 St & 7 Ave,40.742388,-73.997262,36833,Subscriber,1980,1

In [4]:
bike_data.count()

tripduration               5018617
starttime                  5018617
stoptime                   5018617
start station id           5018607
start station name         5018607
start station latitude     5018617
start station longitude    5018617
end station id             5018607
end station name           5018607
end station latitude       5018617
end station longitude      5018617
bikeid                     5018617
usertype                   5018617
birth year                 5018617
gender                     5018617
dtype: int64

In [5]:
first_data_csv = bike_data. to_csv('first_data.csv', index = True)
print('\nCSV String:\n', first_data_csv)

CSV String:
 None